.button{
    padding: 10px;
    margin: 10px;
    background-color: #E54B4B;
    color: #fefefe;
    border: 0;
    border-radius: 5%;
    text-transform: uppercase;
    font-weight: bolder;
    transition: 0.2s;
    cursor: pointer;
}
button:hover {
 background-color: lighten($color: #E54B4B, $amount: 5);
}
.button:disabled {
    background-color: grey;
}