.input {
    font-size: 18px;
    padding: 4px;
    outline: none;
    color: #fefefe;
    background-color: lighten($color: #E54B4B, $amount: 5);
    transition: 0.2s;
}
.input:focus {
    outline: 1px solid #EDAE49;
    background-color: lighten($color: #E54B4B, $amount: 10);
}