.card-date {
    display: inline-block;
    padding: 5px;
    font-weight: bolder;
    font-size: 1rem;
    border: 1px solid;
    border-radius: 3px;
}
.card-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-image{
    width: 300px;
}

.card-title{
    display: inline-block;
}

.card-genres{
    text-transform: none;
    font-size: 0.9rem;
}
.link {
    text-decoration: none;
    color: inherit;
}