.movie-modal-container {
    background-image: url(../Search/netflixroulette.jpg);
    background-size: cover;
    background-color: #404040;
    background-blend-mode: overlay;
}
.movie-modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.movie-modal{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 40px;
    max-width: 1140px;
}
.movie-content-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.movie-modal-info {
    text-transform: none;
    max-width: 600px;
    font-size: 1.5rem;
    color: #fefefe;
}
.movie-image {
    width: 300px;
}
.movie-modal-title{
    font-size: 2rem;
    text-transform: uppercase;
    color: lighten($color: #E50914, $amount: 20);
}
.movie-rating {
    border: 2px solid;
    display: inline-block;
    padding: 10px 5px;
    border-radius: 50%;
}

.movie-genres{
    margin-top: 0;
}
.movie-release,
.movie-runtime{
    font-weight: bolder;
}