.sorting-container {
    background-color: #F5F5F5;
}

.sorting{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #131313;
}

.sorting-title {
    display: inline-block;
}

.sorting-counter {
    margin: 0;
    display: inline-block;
}