.search-result{
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 20px;
  justify-content: space-between;
}
.search-result-container{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 20px;
}