.search{
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    color: #fefefe;
}

.search-container {
    background-image: url(./netflixroulette.jpg);
    background-size: cover;
    background-color: #404040;
    background-blend-mode: overlay;
}

.search-title{
    color:lighten($color: #E50914, $amount: 20) ;
}

.search-filter-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}